@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600&display=swap');

h1, h2, h3, h4, h5{
	font-family: 'Baloo Thambi 2' , SemiBold;
}
p{
	font-family: 'Baloo Thambi 2' ,  Regular;

}
a, button, li{
	font-family: 'Baloo Thambi 2' ,  Medium;
	text-decoration: none;
    padding: 10px;
}